<%layout("/layouts/boilerplate.ejs")%>

    <h1>Edit your listing</h1>
    <form method="post" action="/listings/<%=listing._id%>?_method=PUT">
        <div class="row">
            <div class="col-8 offset-2"></div>
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="title" value="<%=listing.title%>" class="form-control">
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="description" name="description" value="<%=listing.description%>" class="form-control">
        </div>

        <div class="mb-3">
            <label for="image" class="form-label">Image</label>
            <input type="text" name="image" value="<%=listing.image%>" class="form-control">
        </div>

        <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input type="number" name="price" value="<%=listing.price%>" class="form-control">
        </div>

        <div class="row">
        <div class="mb-3 col-md-4">
            <label for="location" class="form-label">Location</label>
            <input type="text" name="location" value="<%=listing.location%>" class="form-control">
        </div>

        <div class="mb-3 col-md-4">
            <label for="country" class="form-label">Country</label>
            <input type="text" name="country" value="<%=listing.country%>" class="form-control"><br>
        </div>
        </div>
        </div>
        <button class="btn-new">Edit</button>
        </div>
        <br>
        
    </form>
